venv/
.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.vscode
.hypothesis
.pytest_cache
cache/
local/
logs/
test/
miner_state.json
pending_commits.json
validated_epochs.json
metahash.egg-info/
.pm2/
